openapi: 3.0.0
info:
  title: API Protheus Macroex
  description: API Protheus Macroex
  version: 1.0.0
  termsOfService: http://example.com/terms/
  contact:
    name: Érico Amorim Pedrosa
    url: http://www.example.com/support
    email: erico.pedrosa@totvs.com.br
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: "https://webhook.app.hubhero.com.br/webhook/82130c21-3282-4f14-8267-c010b385f30e"
    description: Development server
  # - url: 'https://api.example.com'
  # description: Production server
tags:
  - name: Fornecedor
  - name: Transportadora
  - name: Cliente
  - name: GrupoDeProdutos
  - name: Produtos
  - name: TitulosAReceber
  - name: TitulosAPagar
  - name: ItemContabil
  - name: PreNotaEntrada
  - name: PedidoDeVenda

paths:
  /api/v1/fornecedor:
    $ref: './paths/fornecedor/noParameters.yaml'
   
  /api/v1/fornecedor/{A2_COD}/{A2_LOJA}:
    $ref: './paths/fornecedor/withParameters.yaml'

  /api/v1/transportadora:
    $ref: './paths/transportadora/noParameters.yaml'

  /api/v1/transportadora/{A4_COD}:
    $ref: './paths/transportadora/withParameters.yaml'

  /api/v1/cliente:
    $ref: './paths/cliente/noParameters.yaml'

  /api/v1/cliente/{A1_COD}/{A1_LOJA}:
    $ref: './paths/cliente/withParameters.yaml'

  /api/v1/grupoDeProdutos:
   $ref: './paths/grupoDeProdutos/noParameters.yaml'

  /api/v1/grupoDeProdutos/{BM_GRUPO}:
    $ref: './paths/grupoDeProdutos/withParameters.yaml'

  /api/v1/produto:
     $ref: './paths/Produto/noParameters.yaml'

  /api/v1/produto/{B1_COD}:
     $ref: './paths/Produto/withParameters.yaml'

  /api/v1/titulosAReceber:
    $ref: './paths/titulosAReceber/noParameters.yaml'

  /api/v1/titulosAReceber/{E1_PREFIXO}/{E1_NUM}/{E1_PARCELA}/{E1_TIPO}:
    $ref: './paths/titulosAReceber/withParameters.yaml'

  /api/v1/titulosAPagar:
    $ref: './paths/titulosAPagar/noParameters.yaml'

  /api/v1/titulosAPagar/{E2_PREFIXO}/{E2_NUM}/{E2_PARCELA}/{E2_TIPO}/{E2_FORNECEDOR}/{E2_LOJA}:
    $ref: './paths/titulosAPagar/withParameters.yaml'
    
  /api/v1/itemContabil:
    $ref: './paths/itemContabil/noParameters.yaml'

  /api/v1/itemContabil/{CTD_ITEM}:
    $ref: './paths/itemContabil/withParameters.yaml'

  /api/v1/preNotaEntrada:
    $ref: './paths/preNotaEntrada/noParameters.yaml'

  /api/v1/preNotaEntrada/{F1_DOC}/{F1_SERIE}/{F1_FORNECEDOR}/{F1_LOJA}:
    $ref: './paths/preNotaEntrada/withParameters.yaml'

  /api/v1/pedidoDeVenda:
    $ref: './paths/pedidoDeVenda/noParameters.yaml'

  /api/v1/pedidoDeVenda/{C5_NUM}:
    $ref: './paths/pedidoDeVenda/withParameters.yaml'

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  schemas:
    Fornecedor:
      $ref: "./paths/fornecedor/schemas/SA2.yaml"

    Transportadora:
      $ref: "./paths/transportadora/schemas/SA4.yaml"

    Cliente:
      $ref: "./paths/cliente/schemas/SA1.yaml"

    GrupoDeProdutos:
      $ref: "./paths/grupoDeProdutos/schemas/SBM.yaml"

    Produtos:
      $ref: "./paths/produto/schemas/SB1+SB2+SB5.yaml"

    TitulosAReceber:
      $ref: "./paths/titulosAReceber/schemas/SE1.yaml"

    TitulosAPagar:
      $ref: "./paths/titulosAPagar/schemas/SE2.yaml"

    ItemContabil:
      $ref: "./paths/itemContabil/schemas/CTD.yaml"

    PreNotaEntrada:
      $ref: "./paths/preNotaEntrada/schemas/SF1+SD1.yaml"
      
    PedidoDeVenda:
      $ref: "./paths/pedidoDeVenda/schemas/SC5+SC6.yaml"

  responses:
    UnauthorizedError:
      description: Authentication information is missing or invalid
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Unauthorized"
  parameters:
    fornecedorId:
      name: id
      in: path
      required: true
      description: The ID of the user to retrieve
      schema:
        type: integer
        example: 1
