openapi: 3.0.0
info:
  title: API Protheus 
  description: API Protheus Documentação
  version: 1.0.0
  termsOfService: https://siriusdigital.com.br/termos-e-condicoes-de-uso/
  contact:
    name: Sirius Digital
    url: https://siriusdigital.com.br/
    email: contato@siriusdigital.com.br
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: "https://macroex.hubhero.com.br/webhook/82130c21-3282-4f14-8267-c010b385f30e"
    description: HubHero Macroex
  # - url: 'https://api.example.com'
  # description: Production server
tags:
  - name: Fornecedor
  - name: Transportadora
  - name: Cliente
  - name: GrupoDeProdutos
  - name: Produtos
  - name: TitulosAReceber
  - name: TitulosAPagar
  - name: ItemContabil
  - name: PreNotaEntrada
  - name: PedidoDeVenda
  - name: VendaAssistida
  - name: Estoque
  - name: TabelaPreco
  - name: RegraDesconto

security:
  - bearerAuth: []

paths:
  /api/v1/fornecedor:
    $ref: './paths/fornecedor/noParameters.yaml'

  /api/v1/transportadora:
    $ref: './paths/transportadora/noParameters.yaml'

  /api/v1/cliente:
    $ref: './paths/cliente/noParameters.yaml'

  /api/v1/grupoDeProdutos:
   $ref: './paths/grupoDeProdutos/noParameters.yaml'

  /api/v1/produto:
     $ref: './paths/produto/noParameters.yaml'

  /api/v1/titulosAReceber:
    $ref: './paths/titulosAReceber/noParameters.yaml'
  
  /api/v1/titulosAReceber/baixa:
    $ref: './paths/titulosAReceber/baixaDeTitulo.yaml'

  /api/v1/titulosAPagar:
    $ref: './paths/titulosAPagar/noParameters.yaml'

  /api/v1/titulosAPagar/baixa:
    $ref: './paths/titulosAPagar/baixaDeTitulo.yaml'

  /api/v1/itemContabil:
    $ref: './paths/itemContabil/noParameters.yaml'

  /api/v1/preNotaEntrada:
    $ref: './paths/preNotaEntrada/noParameters.yaml'

  /api/v1/pedidoDeVenda:
    $ref: './paths/pedidoDeVenda/noParameters.yaml'

  /api/v1/vendaAssistida:
    $ref: './paths/vendaAssistida/noParameters.yaml'

  /api/v1/estoque:
    $ref: './paths/estoque/noParameters.yaml'
  
  /api/v1/tabelaPreco:
    $ref: './paths/tabelaPreco/noParameters.yaml'
  
  /api/v1/regraDesconto:
    $ref: './paths/regraDesconto/noParameters.yaml'
  
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Fornecedor:
      $ref: "./paths/fornecedor/schemas/SA2.yaml"

    Transportadora:
      $ref: "./paths/transportadora/schemas/SA4.yaml"

    Cliente:
      $ref: "./paths/cliente/schemas/SA1.yaml"

    GrupoDeProdutos:
      $ref: "./paths/grupoDeProdutos/schemas/SBM.yaml"

    Produtos:
      $ref: "./paths/produto/schemas/SB1+SB5.yaml"

    TitulosAReceber:
      $ref: "./paths/titulosAReceber/schemas/SE1.yaml"

    TitulosAPagar:
      $ref: "./paths/titulosAPagar/schemas/SE2.yaml"

    ItemContabil:
      $ref: "./paths/itemContabil/schemas/CTD.yaml"

    PreNotaEntrada:
      $ref: "./paths/preNotaEntrada/schemas/SF1+SD1.yaml"
      
    PedidoDeVenda:
      $ref: "./paths/pedidoDeVenda/schemas/SC5+SC6.yaml"
    
    VendaAssistida:
      $ref: "./paths/vendaAssistida/schemas/SL1+SL2+SL4.yaml"
    
    Estoque:
      $ref: "./paths/estoque/schemas/SB2+SB6.yaml"
    
    TabelaDePreco:
      $ref: "./paths/tabelaPreco/schemas/DA0+DA1.yaml"
    
    RegraDeDesconto:
      $ref: "./paths/regraDesconto/schemas/MEI+MB8.yaml"

  responses:
    UnauthorizedError:
      description: Authentication information is missing or invalid
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Unauthorized"
  parameters:
    fornecedorId:
      name: id
      in: path
      required: true
      description: The ID of the user to retrieve
      schema:
        type: integer
        example: 1
