openapi: 3.0.0
info:
  title: API Protheus Macroex
  description: API Protheus Macroex
  version: 1.0.0
  termsOfService: http://example.com/terms/
  contact:
    name: Érico Amorim Pedrosa
    url: http://www.example.com/support
    email: erico.pedrosa@totvs.com.br
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: "https://webhook.app.hubhero.com.br/webhook/82130c21-3282-4f14-8267-c010b385f30e"
    description: Development server
  # - url: 'https://api.example.com'
  # description: Production server
tags:
  - name: Fornecedor
  - name: Transportadora
  - name: Cliente
  - name: GrupoDeProdutos
  - name: Produtos
  - name: TitulosAReceber
  - name: TitulosAPagar
  - name: ItemContabil
  - name: PreNotaEntrada
  - name: PedidoDeVenda

paths:
  /api/v1/fornecedor:
    post:
      $ref: './paths/fornecedor/post.yaml'

    get:
      $ref: './paths/fornecedor/getAll.yaml'

   
  /api/v1/fornecedor/{A2_COD}/{A2_LOJA}:
    get:
      tags:
        - Fornecedor
      summary: EndPoint para retornar um fornecedor pelo código
      operationId: getFornecedorById
      parameters:
        - name: "A2_COD"
          in: path
          description: Número do código do fornecedor
          required: true
          schema:
            type: string
            example: "1"
        - name: "A2_LOJA"
          in: path
          description: Número da loja do fornecedor
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fornecedor"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

    put:
      tags:
        - Fornecedor
      summary: EndPoint para alterar um fornecedor pelo código
      operationId: UpdateFornecedor
      parameters:
        - name: "A2_COD"
          in: path
          description: Número do código do fornecedor
          required: true
          schema:
            type: string
            example: "1"
        - name: "A2_LOJA"
          in: path
          description: Número da loja do fornecedor
          required: true
          schema:
            type: string
            example: "1"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Fornecedor"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: integer
                    example: 200
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Fornecedor alterado com sucesso!
                      A2_COD:
                        type: string
                        example: 000001
                      A2_LOJA:
                        type: string
                        example: 01
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

    delete:
      tags:
        - Fornecedor
      summary: EndPoint para deletar um fornecedor pelo código
      operationId: deleteFornecedorById
      parameters:
        - name: "A2_COD"
          in: path
          description: Número do código do fornecedor
          required: true
          schema:
            type: string
            example: "1"
        - name: "A2_LOJA"
          in: path
          description: Número da loja do fornecedor
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: integer
                    example: 200
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Fornecedor deletado com sucesso!
                      A2_COD:
                        type: string
                        example: 000001
                      A2_LOJA:
                        type: string
                        example: 01
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

  /api/v1/transportadora:
    post:
      tags:
        - Transportadora
      summary: EndPoint para criar uma transportadora
      operationId: createTransportadora
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Transportadora"

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: integer
                    example: 200
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Transportadora incluido com sucesso!
                      A4_COD:
                        type: string
                        example: 000001
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

    get:
      tags:
        - Transportadora
      summary: EndPoint para retornar todas transportadoras
      operationId: getAllTransportadora
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Transportadora"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

  /api/v1/transportadora/{A4_COD}:
    get:
      tags:
        - Transportadora
      summary: EndPoint para retornar uma transportadora pelo código
      operationId: getTransportadoraById
      parameters:
        - name: "A4_COD"
          in: path
          description: Número do código da transportadora
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transportadora"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

    put:
      tags:
        - Transportadora
      summary: EndPoint para alterar uma transportadora pelo código
      operationId: UpdateTransportadora
      parameters:
        - name: "A4_COD"
          in: path
          description: Número do código da transportadora
          required: true
          schema:
            type: string
            example: "1"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Transportadora"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: integer
                    example: 200
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Transportadora alterado com sucesso!
                      A4_COD:
                        type: string
                        example: 000001
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

    delete:
      tags:
        - Transportadora
      summary: EndPoint para deletar uma transportadora pelo código
      operationId: deleteTransportadoraById
      parameters:
        - name: "A4_COD"
          in: path
          description: Número do código da transportadora
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: integer
                    example: 200
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Transportadora deletado com sucesso!
                      A4_COD:
                        type: string
                        example: 000001
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

  /api/v1/cliente:
    post:
      tags:
        - Cliente
      summary: EndPoint para criar um cliente
      operationId: createCliente
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Cliente"

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: integer
                    example: 200
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Cliente incluído com sucesso!
                      A1_COD:
                        type: string
                        example: 000001
                      A1_LOJA:
                        type: string
                        example: 01
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

    get:
      tags:
        - Cliente
      summary: EndPoint para retornar todos os clientes
      operationId: getAllClientes
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Cliente"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

  /api/v1/cliente/{A1_COD}/{A1_LOJA}:
    get:
      tags:
        - Cliente
      summary: EndPoint para retornar um cliente pelo código
      operationId: getClienteById
      parameters:
        - name: "A1_COD"
          in: path
          description: Número do código do cliente
          required: true
          schema:
            type: string
            example: "000001"
        - name: "A1_LOJA"
          in: path
          description: Nuémro da loja do cliente
          required: true
          schema:
            type: string
            example: "01"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Cliente"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

    put:
      tags:
        - Cliente
      summary: EndPoint para alterar um cliente pelo código
      operationId: UpdateCliente
      parameters:
        - name: "A1_COD"
          in: path
          description: Número do código do cliente
          required: true
          schema:
            type: string
            example: "000001"
        - name: "A1_LOJA"
          in: path
          description: Nuémro da loja do cliente
          required: true
          schema:
            type: string
            example: "01"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Cliente"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: integer
                    example: 200
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Cliente alterado com sucesso!
                      A1_COD:
                        type: string
                        example: 000001
                      A1_LOJA:
                        type: string
                        example: 01
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

    delete:
      tags:
        - Cliente
      summary: EndPoint para deletar um cliente pelo código
      operationId: deleteClienteById
      parameters:
        - name: "A1_COD"
          in: path
          description: Número do código do cliente
          required: true
          schema:
            type: string
            example: "000001"
        - name: "A1_LOJA"
          in: path
          description: Nuémro da loja do cliente
          required: true
          schema:
            type: string
            example: "01"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: integer
                    example: 200
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Cliente deletado com sucesso!
                      A1_COD:
                        type: string
                        example: 000001
                      A1_LOJA:
                        type: string
                        example: 01
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

  /api/v1/grupoDeProdutos:
    post:
      tags:
        - GrupoDeProdutos
      summary: EndPoint para criar grupo de produtos
      operationId: createGrupoDeProdutos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GrupoDeProdutos"

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: integer
                    example: 200
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Grupo de produtos incluído com sucesso!
                      BM_GRUPO:
                        type: string
                        example: 000001
                      R_E_C_N_O_:
                        type: string
                        example: 01
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

    get:
      tags:
        - GrupoDeProdutos
      summary: EndPoint para retornar todos os grupo de produtos
      operationId: getAllGrupoDeProdutos
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/GrupoDeProdutos"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

  /api/v1/grupoDeProdutos/{BM_GRUPO}:
    get:
      tags:
        - GrupoDeProdutos
      summary: EndPoint para retornar um grupo de produtos pelo código
      operationId: getGrupoDeProdutosById
      parameters:
        - name: "BM_GRUPO"
          in: path
          description: Número do código do grupo de produtos
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrupoDeProdutos"
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

    put:
      tags:
        - GrupoDeProdutos
      summary: EndPoint para alterar um grupo de produtos pelo código
      operationId: UpdateGrupoDeProdutos
      parameters:
        - name: "BM_GRUPO"
          in: path
          description: Número do código do grupo de produtos
          required: true
          schema:
            type: string
            example: "1"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GrupoDeProdutos"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: integer
                    example: 200
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Grupo de produtos alterado com sucesso!
                      BM_GRUPO:
                        type: string
                        example: 000001
                      R_E_C_N_O_:
                        type: string
                        example: 01
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

    delete:
      tags:
        - GrupoDeProdutos
      summary: EndPoint para deletar um grupo de produtos pelo código
      operationId: deleteGrupoDeProdutosById
      parameters:
        - name: "BM_GRUPO"
          in: path
          description: Número do código do grupo de produtos
          required: true
          schema:
            type: string
            example: "1"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  code:
                    type: integer
                    example: 200
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Grupo de produtos deletado com sucesso!
                      BM_GRUPO:
                        type: string
                        example: 000001
                      R_E_C_N_O_:
                        type: string
                        example: 01
        "400":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 400
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: Descrição do erro.
        "500":
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  code:
                    type: integer
                    example: 500
                  message:
                    type: object
                    properties:
                      info:
                        type: string
                        example: "{\"code\":500,\"detailedMessage\":\"\",\"message\":\"Internal Server Error\"}"
      security:
        - basicAuth: []

  /api/v1/produto:
    post:
      tags:
        - Produtos
      summary: EndPoint para criar um produto
      operationId: Produtos
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                SB1:
                  type: object
                  properties:
                    B1_FILIAL:
                      type: string
                      length: 4
                      description: "Filial do Sistema"

                    B1_COD:
                      type: string
                      length: 15
                      description: "Codigo do Produto"

                    B1_GRUPO:
                      type: string
                      length: 4
                      description: "Grupo de Estoque"

                    B1_DESC:
                      type: string
                      length: 30
                      description: "Descricao do Produto"

                    B1_CODITE:
                      type: string
                      length: 27
                      description: "Codigo do Item"

                    B1_TIPO:
                      type: string
                      length: 2
                      description: "Tipo de Produto (MPPA.)"

                    B1_UM:
                      type: string
                      length: 2
                      description: "Unidade de Medida"

                    B1_LOCPAD:
                      type: string
                      length: 2
                      description: "Armazem Padrao p/Requis."

                    B1_PICM:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Alíquota de ICMS"
                      example: "999.99"

                    B1_IPI:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Alíquota de IPI"
                      example: "999.99"

                    B1_POSIPI:
                      type: string
                      length: 10
                      description: "Nomenclatura Ext.Mercosul"
                      example: "9999.99.99"

                    B1_ESPECIE:
                      type: string
                      length: 2
                      description: "Especie Produto da TIPI"

                    B1_EX_NCM:
                      type: string
                      length: 3
                      description: "Ex-NCM - determina % I.I."

                    B1_EX_NBM:
                      type: string
                      length: 3
                      description: "Ex-NBM - determina % IPI"

                    B1_ALIQISS:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Aliquota de ISS"
                      example: "999.99"

                    B1_CODISS:
                      type: string
                      length: 9
                      description: "Código de Serviço do ISS"

                    B1_TE:
                      type: string
                      length: 3
                      description: "Codigo de Entrada padrao"

                    B1_TS:
                      type: string
                      length: 3
                      description: "Codigo de Saida padrao"

                    B1_PICMRET:
                      type: number
                      length: 6
                      decimal: 2
                      description: "% Lucro Calc. Solid.Saida"
                      example: "999.99"

                    B1_PICMENT:
                      type: number
                      length: 6
                      decimal: 2
                      description: "% Lucro Calc. Solid.Entr."
                      example: "999.99"

                    B1_IMPZFRC:
                      type: string
                      length: 1
                      options: "S=Sim;N=Não"
                      description: "Produto Import. Z.Franca"
                      example: "option"

                    B1_BITMAP:
                      type: string
                      length: 20
                      description: "Foto do Produto"

                    B1_SEGUM:
                      type: string
                      length: 2
                      description: "Segunda Unidade de Medida"

                    B1_CONV:
                      type: number
                      length: 5
                      decimal: 2
                      description: "Fator de Conversao de UM"
                      example: "99.99"

                    B1_TIPCONV:
                      type: string
                      length: 1
                      options: "M=Multiplicador;D=Divisor"
                      description: "Tipo de Conversao da UM"
                      example: "option"

                    B1_ALTER:
                      type: string
                      length: 15
                      description: "Codigo Alternativo"

                    B1_QE:
                      type: number
                      length: 9
                      description: "Qtde por Embalagem"
                      example: "999999999"

                    B1_PRV1:
                      type: number
                      length: 14
                      decimal: 2
                      description: "Preco de Venda"
                      example: "99999999999.99"

                    B1_EMIN:
                      type: number
                      length: 12
                      decimal: 2
                      description: "Ponto de Pedido"
                      example: "999999999.99"

                    B1_CUSTD:
                      type: number
                      length: 14
                      decimal: 4
                      description: "Custo Standard"
                      example: "999999999.9999"

                    B1_UCALSTD:
                      type: string
                      length: 8
                      description: "Dta Ult Calc do Custo Std"
                      example: "yyyymmdd"

                    B1_UPRC:
                      type: number
                      length: 14
                      decimal: 2
                      description: "Ultimo Preco de Compra"
                      example: "99999999999.99"

                    B1_MCUSTD:
                      type: string
                      length: 1
                      options: "1=Moeda1;2=Moeda2;3=Moeda3;4=Moeda4;5=Moeda5"
                      description: "Moeda do Custo Standard"
                      example: "option"

                    B1_UCOM:
                      type: string
                      length: 8
                      description: "Data da Ultima Compra"
                      example: "yyyymmdd"

                    B1_PESO:
                      type: number
                      length: 12
                      decimal: 4
                      description: "Peso Liquido p/ calc N.F."
                      example: "9999999.9999"

                    B1_ESTSEG:
                      type: number
                      length: 12
                      decimal: 2
                      description: "Estoque de Seguranca"
                      example: "999999999.99"

                    B1_ESTFOR:
                      type: string
                      length: 3
                      description: "Formula Estoque Seguranca"

                    B1_FORPRZ:
                      type: string
                      length: 3
                      description: "Formula Calculo do Prazo"

                    B1_PE:
                      type: number
                      length: 5
                      description: "Prazo de Entrega"
                      example: "99999"

                    B1_TIPE:
                      type: string
                      length: 1
                      options: "H=Horas;D=Dias;S=Semana;M=Mes;A=Ano"
                      description: "Tipo Prazo entrega(D/M/A)"
                      example: "option"

                    B1_LE:
                      type: number
                      length: 12
                      decimal: 2
                      description: "Lote Economico"
                      example: "999999999.99"

                    B1_LM:
                      type: number
                      length: 12
                      decimal: 2
                      description: "Lote Minimo"
                      example: "999999999.99"

                    B1_CONTA:
                      type: string
                      length: 20
                      description: "Conta Contabil dn Prod."

                    B1_TOLER:
                      type: number
                      length: 3
                      description: "Tolerancia"
                      example: "999"

                    B1_CC:
                      type: string
                      length: 9
                      description: "Centro de Custo"

                    B1_ITEMCC:
                      type: string
                      length: 9
                      description: "Item de Conta"

                    B1_FAMILIA:
                      type: string
                      length: 1
                      options: "S=Sim;N=Não"
                      description: 'Informa "S" se e familia'
                      example: "option"

                    B1_QB:
                      type: number
                      length: 7
                      description: "Qtde Base da Estrutura"
                      example: "9999999"

                    B1_PROC:
                      type: string
                      length: 6
                      description: "Fornecedor Padrao"

                    B1_LOJPROC:
                      type: string
                      length: 2
                      description: "Loja Fornecedor Padrao"

                    B1_APROPRI:
                      type: string
                      length: 1
                      options: "D=Direto;I=Indireto"
                      description: "Apropr.Direta ou Indireta"
                      example: "option"

                    B1_TIPODEC:
                      type: string
                      length: 1
                      options: "N=Normal;A=Arred.5/4;I=Incrementa;T=Trunca"
                      description: "Tipo de Decimais p/ OP"
                      example: "option"

                    B1_ORIGEM:
                      type: string
                      length: 1
                      description: "Origem do produto"

                    B1_CLASFIS:
                      type: string
                      length: 2
                      description: "Classificacao fiscal"

                    B1_FANTASM:
                      type: string
                      length: 1
                      options: "S=Sim;N=Não"
                      description: 'Informa "S" se e fantasm'
                      example: "option"

                    B1_RASTRO:
                      type: string
                      length: 1
                      options: "S=SubLote;L=Lote;N=Nao utiliza"
                      description: "Rastreabilidade Produto"
                      example: "option"

                    B1_UREV:
                      type: string
                      length: 8
                      description: "Data da Ultima Revisao"
                      example: "yyyymmdd"

                    B1_DATREF:
                      type: string
                      length: 8
                      description: "Data Referencia do Custo"
                      example: "yyyymmdd"

                    B1_FORAEST:
                      type: string
                      length: 1
                      options: "S=Sim;N=Não"
                      description: "S-se comprado fora estado"
                      example: "option"

                    B1_COMIS:
                      type: number
                      length: 5
                      decimal: 2
                      description: "Percentual de Comissao"
                      example: "99.99"

                    B1_MONO:
                      type: string
                      length: 1
                      options: "S=Sim;N=Não"
                      description: "Forn. de Dominio do Canal"
                      example: "option"

                    B1_DTREFP1:
                      type: string
                      length: 8
                      description: "Data de Ref. do Preco 1"
                      example: "yyyymmdd"

                    B1_PERINV:
                      type: number
                      length: 3
                      description: "Periodicidade Inventario"
                      example: "999"

                    B1_GRTRIB:
                      type: string
                      length: 6
                      description: "Grupo de Tributacao"

                    B1_MRP:
                      type: string
                      length: 1
                      options: "S=Sim;N=Nao;E=Especial"
                      description: "Entra no Mrp?"
                      example: "option"

                    B1_PRVALID:
                      type: number
                      length: 3
                      description: "Prazo de Validade"
                      example: "999"

                    B1_NOTAMIN:
                      type: number
                      length: 1
                      description: "Nota Minima"
                      example: "9"

                    B1_NUMCOP:
                      type: number
                      length: 5
                      description: "Qtde. Copias p/ C. Barras"
                      example: "99999"

                    B1_CONINI:
                      type: string
                      length: 8
                      description: "Data do Consumo Inicial"
                      example: "yyyymmdd"

                    B1_CONTSOC:
                      type: string
                      length: 1
                      options: "S=Sim;N=Não"
                      description: "Incide Contr.Seg.Social"
                      example: "option"

                    B1_IRRF:
                      type: string
                      length: 1
                      options: "S=Sim;N=Não"
                      description: "Incide imposto renda"
                      example: "option"

                    B1_CODBAR:
                      type: string
                      length: 15
                      description: "Codigo de Barras"

                    B1_CODGTIN:
                      type: string
                      length: 15
                      description: "Código GTIN p/ NF-e"

                    B1_GRADE:
                      type: string
                      length: 1
                      options: "S=Sim;N=Não"
                      description: "Produto pertence grade"
                      example: "option"

                    B1_FORMLOT:
                      type: string
                      length: 3
                      description: "Cod. Formula preen. Lote"

                    B1_LOCALIZ:
                      type: string
                      length: 1
                      options: "S=Sim;N=Não"
                      description: "Controla Enderecamento"
                      example: "option"

                    B1_FPCOD:
                      type: string
                      length: 10
                      description: "Codigo da Familia"

                    B1_OPERPAD:
                      type: string
                      length: 2
                      description: "Roteiro de Oper. Padrão"

                    B1_DESC_P:
                      type: string
                      length: 6
                      description: "Descricao em Portugues"
                      example: "999999"

                    B1_CONTRAT:
                      type: string
                      length: 1
                      options: "S=Sim;N=Nao;A=Ambos"
                      description: "Contrato de Parceria"
                      example: "option"

                    B1_DESC_GI:
                      type: string
                      length: 6
                      description: "Descricao p/ Lic. Import."
                      example: "999999"

                    B1_DESC_I:
                      type: string
                      length: 6
                      description: "Descricao em Ingles"
                      example: "999999"

                    B1_VLREFUS:
                      type: number
                      length: 15
                      decimal: 5
                      description: "Val.Ref.US$"
                      example: "999999999.99999"

                    B1_IMPORT:
                      type: string
                      length: 1
                      options: "S=Sim;N=Não"
                      description: "Produto Importado"
                      example: "option"

                    B1_VM_I:
                      type: string
                      length: 36
                      description: "Descricao em Ingles"

                    B1_VM_GI:
                      type: string
                      length: 48
                      description: "Descricao da LI"

                    B1_VM_P:
                      type: string
                      length: 36
                      description: "Descricao em Portugues"

                    B1_ANUENTE:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Anuente ?"
                      example: "option"

                    B1_OPC:
                      type: string
                      length: 80
                      description: "Grupo de Opcional Padrao"
                      example: "S40"

                    B1_CODOBS:
                      type: string
                      length: 6
                      description: "Codigo da observacao"

                    B1_SITPROD:
                      type: string
                      length: 2
                      description: "Situacao do Produto"

                    B1_OBS:
                      type: string
                      length: 60
                      description: "Observacao do Produto"

                    B1_FABRIC:
                      type: string
                      length: 20
                      description: "Fabricante"

                    B1_MODELO:
                      type: string
                      length: 15
                      description: "Modelo do Produto"

                    B1_SETOR:
                      type: string
                      length: 2
                      description: "Setor do Supermercado"
                      example: "99"

                    B1_BALANCA:
                      type: string
                      length: 1
                      options: "0=Não usa;1=Preþo;2=Peso;3=Unidade"
                      description: "Pesavel na Balanca"
                      example: "option"

                    B1_TECLA:
                      type: string
                      length: 3
                      description: "Tecla de Atalho  Balanca"
                      example: "999"

                    B1_PRODPAI:
                      type: string
                      length: 15
                      description: "Produto Pai"

                    B1_TIPOCQ:
                      type: string
                      length: 1
                      options: "M=Materiais;Q=SigaQuality"
                      description: "Tipo de C.Q. a ser usado"
                      example: "option"

                    B1_SOLICIT:
                      type: string
                      length: 1
                      options: "S=Sim;N=Nao"
                      description: "Restricao de Solicitantes"
                      example: "option"

                    B1_QUADPRO:
                      type: string
                      length: 1
                      options: "1=Classe I;2=Classe II;3=Classe III;4=Classe IV"
                      description: "Classe de reposicao"
                      example: "option"

                    B1_BASE3:
                      type: string
                      length: 14
                      description: "SubFamilia"

                    B1_DESBSE3:
                      type: string
                      length: 60
                      description: "Descr SubFamilia"

                    B1_AGREGCU:
                      type: string
                      length: 1
                      options: "1=Permite;2=Nao permite"
                      description: "Control. custeio para OP"
                      example: "option"

                    B1_GRUPCOM:
                      type: string
                      length: 6
                      description: "Grupo de Compradores"

                    B1_DESPIMP:
                      type: string
                      length: 1
                      options: "S=Sim;N=Nao"
                      description: "Despesa de Importaçao"
                      example: "option"

                    B1_NUMCQPR:
                      type: number
                      length: 3
                      description: "Envio de Produções ao CQ"
                      example: "999"

                    B1_CONTCQP:
                      type: number
                      length: 3
                      description: "Contador de Produções CQ"
                      example: "999"

                    B1_REVATU:
                      type: string
                      length: 3
                      description: "Rev. Atual da Estrutura"

                    B1_CODEMB:
                      type: string
                      length: 30
                      description: "Codigo embalagem"

                    B1_INSS:
                      type: string
                      length: 1
                      options: "S=Sim;N=Nao"
                      description: "Calcula INSS"
                      example: "option"

                    B1_ESPECIF:
                      type: string
                      length: 80
                      description: "Descrição Específica"

                    B1_MAT_PRI:
                      type: string
                      length: 20
                      description: "Material Prima"

                    B1_NALNCCA:
                      type: string
                      length: 7
                      description: "NALADI NCCA"
                      example: "9999.99.9"

                    B1_REDINSS:
                      type: number
                      length: 5
                      decimal: 2
                      description: "Perc. de reducao do INSS"
                      example: "99.99"

                    B1_NALSH:
                      type: string
                      length: 8
                      description: "NALADI SH"
                      example: "9999.99.99"

                    B1_ALADI:
                      type: string
                      length: 3
                      description: "ALADI"

                    B1_REDIRRF:
                      type: number
                      length: 5
                      decimal: 2
                      description: "Perc. de reducao do IRRF"
                      example: "99.99"

                    B1_TAB_IPI:
                      type: string
                      length: 2
                      description: "Tabela para IPI de Pauta"

                    B1_GRUDES:
                      type: string
                      length: 3
                      description: "Grupo de Desconto"

                    B1_REDPIS:
                      type: number
                      length: 5
                      decimal: 2
                      description: "Perc. Redução PIS"
                      example: "99.99"

                    B1_REDCOF:
                      type: number
                      length: 5
                      decimal: 2
                      description: "Perc.Redução COFINS"
                      example: "99.99"

                    B1_DATASUB:
                      type: string
                      length: 8
                      description: "Data da Substituicao"
                      example: "yyyymmdd"

                    B1_PCSLL:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Percentual CSLL"
                      example: "999.99"

                    B1_PCOFINS:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Percentual COFINS"
                      example: "999.99"

                    B1_PPIS:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Percentual PIS"
                      example: "999.99"

                    B1_MTBF:
                      type: number
                      length: 9
                      decimal: 2
                      description: "MTBF em horas."
                      example: "999999.99"

                    B1_MTTR:
                      type: number
                      length: 9
                      decimal: 2
                      description: "MTTR em horas."
                      example: "999999.99"

                    B1_FLAGSUG:
                      type: string
                      length: 1
                      options: "1=Normal;2=Cancelado;3=Novo;4=Lucrativo"
                      description: "Tipo da Sugestao"
                      example: "option"

                    B1_CLASSVE:
                      type: string
                      length: 1
                      options: "1=Normal;2=Promocao;3=Descarte;4=Eliminado"
                      description: "Status Venda p/ Sugestao"
                      example: "option"

                    B1_MIDIA:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Calcula Imposto p/Midia?"
                      example: "option"

                    B1_QTMIDIA:
                      type: number
                      length: 14
                      decimal: 2
                      description: "Qtde. Midia"
                      example: "99999999999.99"

                    B1_VLR_IPI:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Vlr unit. do IPI de Pauta"
                      example: "999.99"

                    B1_ENVOBR:
                      type: string
                      length: 1
                      options: "0=Sim;1=Não"
                      description: "Peca c/ Envio obrigatorio"
                      example: "option"

                    B1_QTDSER:
                      type: string
                      length: 1
                      options: "1=1a Unidade de Medida;2=2a Unidade de Medida"
                      description: "Vlda Num. Serie 1a/2a UM"
                      example: "option"

                    B1_SERIE:
                      type: string
                      length: 20
                      description: "Serie / Colecao"

                    B1_FAIXAS:
                      type: number
                      length: 2
                      description: "Numero faixas CD"
                      example: "99"

                    B1_NROPAG:
                      type: number
                      length: 4
                      description: "Numero paginas"
                      example: "9999"

                    B1_ISBN:
                      type: string
                      length: 10
                      description: "Codigo no ISBN"

                    B1_TITORIG:
                      type: string
                      length: 50
                      description: "Titulo Original"

                    B1_LINGUA:
                      type: string
                      length: 20
                      description: "Lingua Original"

                    B1_EDICAO:
                      type: string
                      length: 3
                      description: "Numero da Edicao"

                    B1_OBSISBN:
                      type: string
                      length: 40
                      description: "Observacao ISBN"

                    B1_AFAMAD:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Aliquota FAMAD"
                      example: "999.99"

                    B1_CLVL:
                      type: string
                      length: 9
                      description: "Classe Valor Contabil"

                    B1_ATIVO:
                      type: string
                      length: 1
                      description: "Produto Ativo (Sim/Nao)"

                    B1_EMAX:
                      type: number
                      length: 12
                      decimal: 2
                      description: "Estoque Maximo"
                      example: "999999999.99"

                    B1_PESBRU:
                      type: number
                      length: 12
                      decimal: 4
                      description: "Peso Bruto"
                      example: "9999999.9999"

                    B1_TIPCAR:
                      type: string
                      length: 6
                      description: "Tipo da Carga"

                    B1_FRACPER:
                      type: number
                      length: 5
                      decimal: 2
                      description: "Fracao Permitida"
                      example: "99.99"

                    B1_VLR_ICM:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Valor de Icms de Pauta"
                      example: "999.99"

                    B1_INT_ICM:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Pauta do ICMS próprio"
                      example: "999.99"

                    B1_VLRSELO:
                      type: number
                      length: 15
                      decimal: 2
                      description: "Vlr.selo p/caixa cigarro"
                      example: "999999999999.99"

                    B1_CODNOR:
                      type: string
                      length: 3
                      description: "Codigo da Norma"

                    B1_CORPRI:
                      type: string
                      length: 6
                      description: "Cor Principal"

                    B1_CORSEC:
                      type: string
                      length: 6
                      description: "Cor Secundaria"

                    B1_NICONE:
                      type: string
                      length: 15
                      description: "Nome do Icone no PREACTOR"

                    B1_ATRIB1:
                      type: string
                      length: 6
                      description: "Atributo 1"

                    B1_ATRIB2:
                      type: string
                      length: 6
                      description: "Atributo 2"

                    B1_ATRIB3:
                      type: string
                      length: 6
                      description: "Atributo 3"

                    B1_REGSEQ:
                      type: string
                      length: 6
                      description: "Regra de Sequenciamento"

                    B1_CPOTENC:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Controla Potencia de Lote"
                      example: "option"

                    B1_POTENCI:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Potencia de Lote Padrao"
                      example: "999.99"

                    B1_QTDACUM:
                      type: number
                      length: 12
                      decimal: 2
                      description: "Quantidade Acumulada"
                      example: "999999999.99"

                    B1_QTDINIC:
                      type: number
                      length: 12
                      decimal: 2
                      description: "Quantidade Inicial do Mes"
                      example: "999999999.99"

                    B1_REQUIS:
                      type: string
                      length: 1
                      options: "0=Centro de Custo;1=Paciente;2=Farmacia;3=Ambos"
                      description: "Requisitado para:"
                      example: "option"

                    B1_SELO:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Utiliza Selo de Controle"
                      example: "option"

                    B1_LOTVEN:
                      type: number
                      length: 12
                      decimal: 2
                      description: "Qtde. minima de venda"
                      example: "999999999.99"

                    B1_OK:
                      type: string
                      length: 4
                      description: "OK"

                    B1_USAFEFO:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Utiliza FEFO"
                      example: "option"

                    B1_IAT:
                      type: string
                      length: 1
                      description: "Trunca ou Arredonda"

                    B1_IPPT:
                      type: string
                      length: 1
                      description: "Prod. Propria ou Terceiro"

                    B1_CNATREC:
                      type: string
                      length: 3
                      description: "Cod Nat Receita"

                    B1_TNATREC:
                      type: string
                      length: 4
                      description: "Tab. Nat. Receita"

                    B1_AFASEMT:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Alíquota FASE-MT"
                      example: "999.99"

                    B1_TERUM:
                      type: string
                      length: 2
                      description: "Terceira Unidade de Medid"

                    B1_AIMAMT:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Alíquota IMA-MT"
                      example: "999.99"

                    B1_AFUNDES:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Alíquota FUNDESA"
                      example: "999.99"

                    B1_DCRII:
                      type: number
                      length: 16
                      decimal: 7
                      description: "Valor do DCRII"
                      example: "99999999.9999999"

                    B1_PMICNUT:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Perc. de Micronutrientes"
                      example: "999.99"

                    B1_DCR:
                      type: string
                      length: 9
                      description: "Numero do DCR"

                    B1_DCRE:
                      type: string
                      length: 10
                      description: "Numero do DCRE"

                    B1_FUSTF:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Incide Fust/Funttel"
                      example: "option"

                    B1_DCI:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Prod DCI Mensal"
                      example: "option"

                    B1_COEFDCR:
                      type: number
                      length: 5
                      decimal: 2
                      description: "Coeficiente DCR"
                      example: "99.99"

                    B1_CCCUSTO:
                      type: string
                      length: 9
                      description: "Centro de Custo Custeio."

                    B1_DTFIMNT:
                      type: string
                      length: 8
                      description: "Data Fim Nat. Receita"
                      example: "yyyymmdd"

                    B1_VM_PROC:
                      type: string
                      length: 48
                      description: "Desc.Processo Produtivo"

                    B1_VEREAN:
                      type: string
                      length: 2
                      description: "Código EAN"

                    B1_MSBLQL:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Bloqueio de Tela"
                      example: "option"

                    B1_DTCORTE:
                      type: string
                      length: 8
                      description: "Dt. Mud Regime Tributação"
                      example: "yyyymmdd"

                    B1_PARCEI:
                      type: string
                      length: 6
                      description: "Parceiro de Venda"

                    B1_UVLRC:
                      type: number
                      length: 14
                      decimal: 2
                      description: "Ultimo valor de compra."
                      example: "99999999999.99"

                    B1_CLASSE:
                      type: string
                      length: 6
                      description: "Classe Selo de Controle"

                    B1_PMACNUT:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Perc. de Macronutrientes"
                      example: "999.99"

                    B1_VALEPRE:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Produto é Vale Presente?"
                      example: "option"

                    B1_TPPROD:
                      type: string
                      length: 2
                      description: "Tipo de Medicamento"

                    B1_GRPNATR:
                      type: string
                      length: 2
                      description: "Grupo Natureza Receita"

                    B1_PIS:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Efetua a retenção-PIS"
                      example: "option"

                    B1_CHASSI:
                      type: string
                      length: 25
                      description: "Número Chassi Veículo"

                    B1_UMOEC:
                      type: number
                      length: 2
                      description: "Ultima moeda de compra."

                    B1_VLCIF:
                      type: number
                      length: 14
                      decimal: 2
                      description: "Valor CIF do Insumo"
                      example: "99999999999.99"

                    B1_TIPOBN:
                      type: string
                      length: 2
                      description: "Tipo de Beneficiamento"

                    B1_REFBAS:
                      type: string
                      length: 1
                      options: "0=Preço Tabelado/Maximo;1=Valor Agregado;2=Lista Negativa;3=Lista Positiva;4=Lista Neutra"
                      description: "Referencia Base ST"
                      example: "option"

                    B1_MARKUP:
                      type: number
                      length: 5
                      decimal: 2
                      description: "Percentual de Markup"
                      example: "99.99"

                    B1_TALLA:
                      type: string
                      length: 6
                      description: "Tamanho"

                    B1_TPREG:
                      type: string
                      length: 1
                      options: "1=Não Cumulativo;2=Cumulativo"
                      description: "Tipo de Regime"
                      example: "option"

                    B1_VLR_PIS:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Valor do PIS de pauta"
                      example: "999.99"

                    B1_AFABOV:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Alíquota FABOV"
                      example: "999.99"

                    B1_DIFCNAE:
                      type: string
                      length: 11
                      description: "Cod. Dif. CNAE"

                    B1_CODQAD:
                      type: string
                      length: 22
                      description: "Depto resp.  manut. QNC"

                    B1_CEST:
                      type: string
                      length: 7
                      description: "Cod. Especificador ST"
                      example: "99.999.99"

                    B1_GRPCST:
                      type: string
                      length: 3
                      description: "Cod. Enquadramento do IPI"

                    B1_HREXPO:
                      type: string
                      length: 8
                      description: "Hora da Ultima Exportação"

                    B1_GCCUSTO:
                      type: string
                      length: 8
                      description: "Grupo Contabil custeio."

                    B1_GDODIF:
                      type: string
                      length: 1
                      description: "Grau Dificultade"

                    B1_ESCRIPI:
                      type: string
                      length: 1
                      options: "1=M.P;2=P.A"
                      description: "Estorno de Credito de IPI"
                      example: "option"

                    B1_CODPROC:
                      type: string
                      length: 6
                      description: "Cód.Desc.Processo Prod."
                      example: "999999"

                    B1_USERLGA:
                      type: string
                      length: 17
                      description: "Log de Alteração"

                    B1_USERLGI:
                      type: string
                      length: 17
                      description: "Log de Inclusão"

                    B1_INTEG:
                      type: string
                      length: 1
                      options: "1=Sim;2 =Não"
                      description: "Proveniente de Integracao"
                      example: "option"

                    B1_APOPRO:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Apontamento por Produto"
                      example: "option"

                    B1_GRPTIDC:
                      type: string
                      length: 50
                      description: "Descricao do Grupo - TI"

                    B1_CRICMS:
                      type: string
                      length: 1
                      options: "0=Nao;1=Sim"
                      description: "Calcula Cred.ICMS-Art.271"
                      example: "option"

                    B1_FECP:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Alíquota do FECP"
                      example: "999.99"

                    B1_MOPC:
                      type: string
                      length: 80
                      description: "Mesmo opcional"

                    B1_QBP:
                      type: number
                      length: 7
                      description: "Qtde Base Pre-Estrutura"
                      example: "9999999"

                    B1_LOTESBP:
                      type: number
                      length: 12
                      decimal: 2
                      description: "Lote Prod. Subproduto"
                      example: "999999999.99"

                    B1_VIGENC:
                      type: string
                      length: 8
                      description: "Data Vigencia Inicial"
                      example: "yyyymmdd"

                    B1_PRODSBP:
                      type: string
                      length: 1
                      options: "P=Produzindo;C=Comprando"
                      description: "Atende a Necessidade?"
                      example: "option"

                    B1_SITTRIB:
                      type: string
                      length: 1
                      description: "Situação Tributária"

                    B1_PORCPRL:
                      type: string
                      length: 2
                      options: " 20=20%;30=30%;40=40%"
                      description: "Porcentagem PRL"
                      example: "option"

                    B1_AFETHAB:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Alíquota FETHAB"
                      example: "999.99"

                    B1_CARGAE:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Carga Especial?"
                      example: "option"

                    B1_IMPNCM:
                      type: number
                      length: 14
                      decimal: 2
                      description: "Aliq. de Impostos"
                      example: "99999999999.99"

                    B1_CFEMA:
                      type: number
                      length: 6
                      decimal: 2
                      description: "CFEM - Alíquota"
                      example: "999.99"

                    B1_FECPBA:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Aliquota FECP Bahia"
                      example: "999.99"

                    B1_PAUTFET:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Pauta do Imposto FETHAB"
                      example: "999.99"

                    B1_PAFMD5:
                      type: string
                      length: 32
                      description: "Chave MD5 do Registro"

                    B1_SELOEN:
                      type: string
                      length: 6
                      description: "Classe Enq. IPI"

                    B1_RICM65:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Art 65 do RICMS/PR"
                      example: "option"

                    B1_PRINCMG:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Perc.Incentivo Prod.Leite"
                      example: "999.99"

                    B1_CODLAN:
                      type: string
                      length: 6
                      description: "Código Cat83"

                    B1_CFEMS:
                      type: string
                      length: 1
                      options: "1=Receita;2=Deduz Seg.;3=Deduz Trans."
                      description: "CFEM - Receita ou Deduz"
                      example: "option"

                    B1_CFEM:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Compõe Cal. CFEM"
                      example: "option"

                    B1_ALFECRN:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Aliquota FECOP-RN"
                      example: "999.99"

                    B1_GARANT:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Produto contém garantia?"
                      example: "option"

                    B1_AJUDIF:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Ajuste / Diferimento"
                      example: "option"

                    B1_COFINS:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Efetua a retenção-COFINS"
                      example: "option"

                    B1_CSLL:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Efetua a Retenção-CSLL"
                      example: "option"

                    B1_AFACS:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Alíquota FACS"
                      example: "999.99"

                    B1_FRETISS:
                      type: string
                      length: 1
                      options: "1=Cons Vlr Minimo;2=Sempre Retem"
                      description: "Forme retenção ISSQN"
                      example: "option"

                    B1_ADMIN:
                      type: string
                      length: 10
                      description: "Administradora"

                    B1_TRIBMUN:
                      type: string
                      length: 20
                      description: "Codigo de Trib. Municipal"

                    B1_PRFDSUL:
                      type: number
                      length: 12
                      decimal: 8
                      description: "Percentual Fundersul"
                      example: "999.9999999"

                    B1_PERGART:
                      type: number
                      length: 5
                      decimal: 2
                      description: "Percentual da garantia"
                      example: "99.99"

                    B1_ALFUMAC:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Alíquota FUMACOP"
                      example: "999.99"

                    B1_VLR_COF:
                      type: number
                      length: 6
                      decimal: 2
                      description: "Valor do COFINS de pauta"
                      example: "999.99"

                    B1_RETOPER:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Retém PIS/COFINS operação"
                      example: "option"

                    B1_CNAE:
                      type: string
                      length: 9
                      description: "Cod. Atividade Produto"

                    B1_PRODREC:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Material Reciclavel"
                      example: "option"

                    B1_FECOP:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Calcula FECOP"
                      example: "option"

                    B1_CODANT:
                      type: string
                      length: 15
                      description: "Código anterior"

                    B1_CRDEST:
                      type: number
                      length: 5
                      decimal: 2
                      description: "Crédito Estímulo"
                      example: "99.99"

                    B1_IDHIST:
                      type: string
                      length: 20
                      description: "ID.Hist."

                    B1_CRICMST:
                      type: string
                      length: 1
                      options: "0=Não;1=Sim"
                      description: "Cont Restituição ICMS-ST"
                      example: "option"

                    B1_GRPTI:
                      type: string
                      length: 4
                      description: "Grupo da TES Inteligente"

                    B1_CRDPRES:
                      type: number
                      length: 6
                      decimal: 2
                      description: "% Crédito Presumido"
                      example: "999.99"

                    B1_TPDP:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Calcula TPDP"
                      example: "option"

                    B1_MSEXP:
                      type: string
                      length: 8
                      description: "Ident.Export.Dados"

                    B1_RPRODEP:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Gera Relatorio Prodepe"
                      example: "option"

                    B1_TFETHAB:
                      type: string
                      length: 1
                      options: "1=Soja;2=Algodão;3=Gado;4=Madeira;5=Milho"
                      description: "Tipo FETHAB"
                      example: "option"

                    B1_RSATIVO:
                      type: string
                      length: 1
                      options: "1=Sim;2=Não"
                      description: "Rastro Ativo - IPI"
                      example: "option"

[...]
